$def with ( lang=None, langs=[ 'fr', 'it', 'en', 'es', 'pt', 'ja', 'de', 'nl', 'ru', 'zh', 'pl',], base_host="egbdf.us:8080" )
<html>
<head><title>$_('EGBDF.us - Musicians Wanted')</title></head>
<body>
<h1>$_("Hello World!")</h1>
<p>$_("You are using %s locale." % lang ) </p>

<p>$_("You undertake to strictly abide to copyrights as well as composers’, authors’ and performers’ rights. Copyrights protect the composers - or deceased composers - for a period of 70 years following official date of decease and after which composers’ works become of public domain. Printed scores become public domain 85 years after printing. The performers’ rights protect their public performance for 50 years onward.")</p>
<p>$_("What is meant by 'public domain'?")
<p>$_("Works by anonymous composers and those where the composer or arranger has been dead more than 70 years belong to the public domain. Recordings, or links to recordings, of works having editorial rights (for instance Villa-Lobos or Leo Brouwer) are removed from the forum.You can, of course, attach your own compositions. If you are edited, your editor must equally give his agreement.")

<p>$_("Arrangement of works")
<p>$_("To take a specific example: 'Isaac Albeniz (1860-1909)' is in the public domain, but 'Isaac Albeniz arranged by Andres Segovia (1893-1987)' is not, Segovia being dead less than 75 years. ")
<p>$_("If the composer or arranger is still alive or died less than 75 years ago then the work is still protected by copyright.This applies also to sound reproduction.")

<p>$_("Exceptions to copyright ")
<p>$_("Some composers like Augustin Barrios Mangore had no heirs and did not give part of their rights to an editor. Their works are without \"having rights\" and you can publish their works on the forum.")

<p>$_("Who can publish attached files?")
<p>$_("The only condition necessary to publish a recording or score is that you are a registered user of the forum. ")

<p>$_("Ownership of published recordings and scores")
<p>$_("Your audio and video files must be copyright free recordings. For related reasons of composer copyright and associated rights, the participant agrees not to publish a recording of which he is not the author. Do not send an extract of a commercial CD, unless it's your own! Copies will be removed without warning.")
<p>$_("Recordings are the fruits of labour of Delcamp.net forum members. They are for personal use only. Any use of them for commercial or public use is forbidden.")
<p>$_("The participant authorises Delcamp.net to use files on an unlimited timescale, and possibly in other formats, for instance the creation of a compilation of your recordings.")
<p>$_("From: delcamp.net <a href=\"http://www.delcamp.net/forum/en/viewtopic.php?t=1550\">http://www.delcamp.net/forum/en/viewtopic.php?t=1550</a>")</p>


- 
$for c in langs
	<a href="http://${c}.${base_host}/">$c</a> -


<ul>
<li>$_("FR - Partitions pour guitare classique")</li>
<li>$_("IT - Spartiti per chitarra classica")</li>
<li>$_("EN - Classical guitar sheet music")</li>
<li>$_("ES - Partituras para guitarra clásica")</li>
<li>$_("PT - Partituras para guitarra clássica")</li>
<li>$_("JA - クラシックギターの楽譜")</li>
<li>$_("DE - Gitarre Noten")</li>
<li>$_("NL - Partituren voor klassieke gitaar")</li>
<li>$_("RU - партитуры для классической гитары")</li>
<li>$_("ZH - 古典吉他乐谱")</li>
<li>$_("PL - ???Polish???")</li>
</ul>
</body>
</html>
