$def with ( lang=None, langs=[ 'fr', 'it', 'en', 'es', 'pt', 'ja', 'de', 'nl', 'ru', 'zh', 'pl',], base_host="egbdf.us:8080" )
<html>
<head><title>$_('EGBDF.us - Musicians Wanted')</title></head>
<body>
<h1>$_("Hello World!")</h1>
<p>$_("This is a test of internationalized crap with Templator Templates!")</p>
<p>$_("You are using %s locale." % lang ) </p>

- 
$for c in langs
	<a href="http://${c}.${base_host}/">$c</a> -


<ul>
<li>$_("FR - Partitions pour guitare classique")</li>
<li>$_("IT - Spartiti per chitarra classica")</li>
<li>$_("EN - Classical guitar sheet music")</li>
<li>$_("ES - Partituras para guitarra clásica")</li>
<li>$_("PT - Partituras para guitarra clássica")</li>
<li>$_("JA - クラシックギターの楽譜")</li>
<li>$_("DE - Gitarre Noten")</li>
<li>$_("NL - Partituren voor klassieke gitaar")</li>
<li>$_("RU - партитуры для классической гитары")</li>
<li>$_("ZH - 古典吉他乐谱")</li>
<li>$_("PL - ???Polish???")</li>
</ul>
</body>
</html>
