$def with ( lang=" ", song="a", composer="b", instrument="c" )
<html>
<head><title>${song} - ${composer} - $_('EGBDF.us')</title></head>
<body>
<h1>SON ${song} - COM ${composer} - INS ${instrument}</h1>
<p>Lalalala... a song goes here</p>
</body>
</html>
